html,
body {
  padding: 0;
  margin: 0;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

h1 {
  margin: 0;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  display: inline-block;
  border: none;
  padding: 5px 10px;
  margin: 0;
  cursor: pointer;
}

input {
  margin: 0;
  padding: 5px;
  background-color: #222225;
  border: 2px solid #555555 !important;
  color: #fff;
  transition: border .2s;
}

.wallet {
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  transition: all .2s;
  position: relative;
}
.wallet span {
 opacity: 0.6;
}
.wallet:hover span {
  opacity: 0.8
}

.wallet[data-remover='v']::before {
  content: "Copied to clipboard";
  position: absolute;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 17px;
  top: -30px;
  color: #fff;
  background-color: rgb(0, 0, 0, 0.8);
  border-radius: 8px;
  opacity: 0;
  z-index: 5;
  cursor: default;
  visibility: visible;
  transition: opacity .2s;
}
.wallet[data-remover='h']::before {
  content: "Copied to clipboard";
  position: absolute;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 17px;
  top: -30px;
  color: #fff;
  background-color: rgb(0, 0, 0, 0.8);
  border-radius: 8px;
  opacity: 0;
  z-index: 5;
  cursor: default;
  visibility: hidden;
  transition: opacity .2s;
}

.wallet.active[data-remover='v']::before {
  content: "Copied to clipboard";
  position: absolute;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 17px;
  top: -30px;
  color: #fff;
  background-color: rgb(0, 0, 0, 0.8);
  border-radius: 8px;
  visibility: visible;
  opacity: 1;
}
.wallet.active[data-remover='h']::before {
  content: "Copied to clipboard";
  position: absolute;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 17px;
  top: -30px;
  color: #fff;
  visibility: hidden;
  background-color: rgb(0, 0, 0, 0.8);
  border-radius: 8px;
  opacity: 1;
}

.navBtn {
  background-color: rgba(255, 255, 255, 0.07);
  transition: all .2s;
}

.navBtn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

@keyframes appearance {
  10% {
    transform: translateX(-15px);
  }

  30% {
    transform: translateX(15px);
  }

  50% {
    transform: translateX(-10px);
  }

  70% {
    transform: translateX(10px);
  }

  90% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(5px);
  }
}
.error {
  animation: appearance .2s linear;
}

input:focus {
  outline: none;
  border: 2px solid #acacac !important;
}

input:focus-visible {
  outline: none;
  border: 2px solid #acacac !important;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.activityIndicator {
  margin: auto;
}

.activityIndicator>svg {
  animation: rotate 0.75s linear infinite;
}
.loader>svg {
  animation: rotate 1s linear infinite;
}

* {
  box-sizing: border-box;
}