html,
body {
  padding: 0;
  margin: 0;
  font-family: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
}
h1{
  margin: 0;
  color:#fff;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  display: inline-block;
  border: none;
  background-color: #1a95e0;
  padding: 5px 10px;
  margin: 0;
  cursor: pointer;
}

input {
  margin: 0;
  padding: 5px;
  background-color: #222225;
  border: 1px solid #fff;
  color: #fff;
}
@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
.activityIndicator{
      width: 20px;
     height: 20px;
     margin: auto;
}
.activityIndicator>svg{
  animation: rotate 0.75s linear infinite;
}
* {
  box-sizing: border-box;
}
